@import url('../apex/c__VDODemoCSS');
.vlc-slds-right--panel {
   display: none;
}
.via-slds form[stepForm], sidebar.slds-col--padded.slds-cleafix{
   border:0px !important;
}
label.slds-form-element__label.via-slds-auto_save_for_later.ng-binding {
   display: none;
}
.via-slds input[type=email].ng-dirty.ng-valid.ng-not-empty, .via-slds input[type=password].ng-dirty.ng-valid.ng-not-empty, .via-slds input[type=tel].ng-dirty.ng-valid.ng-not-empty, .via-slds input[type=text].ng-dirty.ng-valid.ng-not-empty, .via-slds input[type=url].ng-dirty.ng-valid.ng-not-empty, .via-slds textarea.ng-dirty.ng-valid.ng-not-empty, .via-slds .vlc-slds-select-control.ng-dirty.ng-valid .slds-select_container{
   border:1px solid #FF6F0F;
}
.vlc-slds--tertiary-container {
   opacity: 0 !important;
}