<div class="panel panel-default" ng-controller='containerTableCanvarController'>
    <button ng-click="selectAll(true);">Select All</button>
    <button ng-click="selectAll(false);">Unselect All</button>
    <table class="table slds-table slds-table--bordered slds-table--cell-buffer" style="table-layout: auto;">
      <thead>
        <tr>
          <th class="slds-cell-shrink">Select</th>
            <th><a href="" ng-click="setOrderBy('PremiseId')">Premise Id</a></th>
            <th><a href="" ng-click="setOrderBy('CustomerType')">Customer Type</a></th>
            <th><a href="" ng-click="setOrderBy('Status')">Status</a></th>
            <th><a href="" ng-click="setOrderBy('StreetAddress')">Street Address</a></th>
            <th><a href="" ng-click="setOrderBy('City')">City</a></th>
            <th><a href="" ng-click="setOrderBy('State')">State</a></th>
            <th><a href="" ng-click="setOrderBy('PostalCode')">Postal Code</a></th>
            <th><a href="" ng-click="setOrderBy('ISO')">ISO</a></th>
            <th><a href="" ng-click="setOrderBy('Utility')">Utility</a></th>
            <th><a href="" ng-click="setOrderBy('Zone')">Zone</a></th>
            <th><a href="" ng-click="setOrderBy('MeterType')">Meter Type</a></th>
            <th><a href="" ng-click="setOrderBy('MeterNumber')">Meter Number</a></th>
        </tr>
      </thead>
    <tbody class="ins">
       <tr ng-repeat="p in control.vlcSI[control.itemsKey] | orderBy : orderByField" ng-class="{ 'vlc-selectableitem-selected' : p.vlcSelected }" >
          <td class="slds-cell-shrink">
            <label class="slds-checkbox">
          <input type="checkbox" ng-model='p.vlcSelected'
            ng-change='onSelectItem(control, p, $index, this)'/>
          <span class="slds-checkbox--faux"></span>
        </label>
      </td>
      <td>{{p.PremiseId}}</td>
      <td>{{p.CustomerType}}</td>
      <td>{{p.Status}}</td>
      <td>{{p.StreetAddress}}</td>
      <td>{{p.City}}</td>
      <td>{{p.State}}</td>
      <td>{{p.PostalCode}}</td>
      <td>{{p.ISO}}</td>
      <td>{{p.Utility}}</td>
      <td>{{p.Zone}}</td>      
      <td>{{p.MeterType}}</td>
      <td>{{p.MeterNumber}}</td>
    </tr>
   </tbody>
  </table>
 </div>
 <p> </p>